<app-title [title]="'Medals per Country'" [subTitles]="subTitles"></app-title>

<div class="center">
  <ng-container *ngIf="asyncFlag"> 
    <ngx-charts-pie-chart
  [view]="view"
  [results]="data"
  [gradient]="gradient"
  [legend]="showLegend"
  [labels]="showLabels"
  [doughnut]="isDoughnut"
  [arcWidth]="0"
  (select)="onSelect($event)"
  (window:resize)="onResize($event)"
  >
  <ng-template #tooltipTemplate let-model="model">
    <div class="tooltip">     
      <p class="tooltip-name">{{ model.name }}</p>
      <div class="svg-container">
        <img src="../../../assets/icon/award.svg" alt="award-icon-alt"/>
        <p class="tooltip-value"> {{ model.value }}</p>
      </div>
    </div>
  </ng-template>
</ngx-charts-pie-chart>
  </ng-container>
</div>
